#window{
	display: none;
	z-index: 100;
	position: absolute;
	width: 260px;
	box-shadow: 2px 2px 3px 2px rgba(0,0,0,0.5);
	left: 50%;
	top: 20%;
	transform: translate(-50%);
	margin: auto;
	background: #FFF;
	border-radius: 4px;
	overflow: hidden;
	text-align: center;
	padding: 40px 20px 20px;
}
#w_Header{
	position: absolute;
  top: 10px;
  left: 0;
  font-weight: bold;
  font-size: 18px;
  width: 300px;
  height: 20px;
  text-align: center;
}
#w_TurnOFF{
	position: absolute;
	top: 0;
	right: 0;
	width: 30px;
	height: 30px;
	background: url('../images/ix.png');
	background-size: cover;
	cursor: pointer;
}
#w_DropUpload{
	display: none;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-image: url('../images/upload.png');
	background-size: 100px;
	background-repeat: no-repeat;
	background-position: center;
}
#window input[type="file"]{
	background: #ECECEC;
}
#w_DeleteIkon{
	display: block;
  margin: 10px auto 0;
}
#w_DeleteIkonButton, #w_DeleteFolderButton{
  margin-top: 5px;
}


#windowBgBlock{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	height: 0;
	width: 100%;
	opacity: 0;
	background: #000;
	z-index: 99;
}
												#windowBgBlock.test,
#windowBgBlock.addIcon,
#windowBgBlock.editIcon,
#windowBgBlock.uploadImage,
#windowBgBlock.editBg,
#windowBgBlock.addFolder,
#windowBgBlock.editFolder,
#windowBgBlock.definitelyDeleteFolder,
#windowBgBlock.manageAccount,
#windowBgBlock.log-in,
#windowBgBlock.sign-up{
	transition: opacity 1s, height 0s;
	height: 100%;
	opacity: .2;
}
												#window.test,
#window.addIcon,
#window.editIcon,
#window.uploadImage,
#window.editBg,
#window.addFolder,
#window.editFolder,
#window.definitelyDeleteFolder,
#window.manageAccount,
#window.log-in,
#window.sign-up{
	display: block;
}

#window.editIcon #w_restoreDefBG,
#window.editIcon #w_AddIcon,
#window.editIcon #w_Folder,
#window.editIcon #w_Account,
#window.editIcon #w_LogOrSign{
	display: none;
}
#window.addIcon #w_FilesUpload,
#window.addIcon #w_ChangeIcon,
#window.addIcon #w_DeleteIkon,
#window.addIcon #w_Folder,
#window.addIcon #w_Account,
#window.addIcon #w_LogOrSign{
	display: none;
}
#window.uploadImage #w_restoreDefBG,
#window.uploadImage #w_Icon,
#window.uploadImage #w_Folder,
#window.uploadImage #w_Account,
#window.uploadImage #w_LogOrSign{
	display: none;
}
#window.editBg #w_Icon,
#window.editBg #w_Folder,
#window.editBg #w_Account,
#window.editBg #w_LogOrSign{
	display: none;
}

#window.addFolder #w_FilesUpload,
#window.addFolder #w_Icon,
#window.addFolder #w_ChangeFolder,
#window.addFolder #w_DeleteFolder,
#window.addFolder #w_Account,
#window.addFolder #w_LogOrSign{
	display: none;
}

#window.editFolder #w_FilesUpload,
#window.editFolder #w_Icon,
#window.editFolder #w_AddFolder,
#window.editFolder #w_DeleteFolder,
#window.editFolder #w_Account,
#window.editFolder #w_LogOrSign{
	display: none;
}

#window.definitelyDeleteFolder #w_FilesUpload,
#window.definitelyDeleteFolder #w_Icon,
#window.definitelyDeleteFolder #w_AddFolder,
#window.definitelyDeleteFolder #w_ChangeFolder,
#window.definitelyDeleteFolder #w_Account,
#window.definitelyDeleteFolder #w_LogOrSign{
	display: none;
}

#window.manageAccount #w_FilesUpload,
#window.manageAccount #w_Icon,
#window.manageAccount #w_Folder,
#window.manageAccount #w_LogOrSign{
	display: none;
}

#window.log-in #w_FilesUpload,
#window.log-in #w_Icon,
#window.log-in #w_Folder,
#window.log-in #w_Account,
#window.log-in #w_SignUp{
	display: none;
}

#window.sign-up #w_FilesUpload,
#window.sign-up #w_Icon,
#window.sign-up #w_Folder,
#window.sign-up #w_Account,
#window.sign-up #w_LogIn{
	display: none;
}
